#----------------------------------------------------------------------------
# RUBY ON RAILS 5
#----------------------------------------------------------------------------

# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

vendor/gems/*
vendor/bundle
db/redis*
.rvmrc
.rails_dev
config/mongoid.yml
config/*_local.yml
config/redis.*.conf
config/aws.yml
config/application.yml
config/database.yml
.powenv
.powrc

#----------------------------------------------------------------------------
# MISC
#----------------------------------------------------------------------------
.*cache
*.log
cache/*
backup
_files
log
log/**/*
.monitor
Forwardfile

# OS X Files
.DS_Store
Thumbs.db
*.swp
*.swo
*.lnk
*~

# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
log/
/tmp/*
!/log/.keep
!/tmp/.keep

.byebug_history

MarkdownTemplate.md