<h1>Pay Methods</h1>
<table>
  <tr>
    <th>Type</th>
    <th>Account No.</th>
    <th>Expiration Date</th>
  </tr>

  <% @pay_methods.each do |payment| %>
    <tr>
      <td><%= payment.payment_type %></td>
      <td><%= payment.account_number %></td>
      <td><%= payment.expiration_date %></td>
      <td><%= link_to 'Deets', pay_method_path(payment) %></td>
    </tr>
  <% end %>
</table>
