<h1>Product Types</h1>
<% @categories.each do |type| %>
    <p>
        <h3> <%= type.product_type_name %> </h3>
        <%= @product_info[type.id]%><br>
        <% @product_names.each do |name| %>
        <% if name.product_type_id == type.id%>
            <%= name.product_name%><br>
        <%end%>
        <%end%>

<% end %>
